.TitleBar {
  @px: 1em;
  @py: 0.5em;
  -webkit-app-region: drag;
  position: relative;
  padding: @py @px;
  background-color: #eee;
  user-select: none;
  .logo {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.2em;
  }
  h1 {
    font-size: 1em;
  }
  .traffic {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-start;

    button {
      padding: 0.6em;
      border: 0;
      outline: 0;
      box-shadow: none;
      background-color: #eee;
      cursor: pointer;

      &:focus-visible {
        outline: none;
      }

      &:hover,
      &:focus-visible {
        background-color: #aaa;

        &.close {
          background-color: #ff3f34;
          path {
            fill: white;
          }
        }
      }

      path {
        fill: #333;
      }
    }
  }
}
